<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
<% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %><link href="<%= webpack.assetsByChunkName['main'][1] %>" rel="stylesheet"><% } %></head>
</head>
<body class="babel">
<!-- feel free to remove the following - except the script tags at the end -->
<span id="forkongithub"><a href="https://github.com/topheman/webpack-babel-starter" title="topheman/webpack-babel-starter on github">Fork me on GitHub</a></span>
<h1>Webpack Babel Starter Kit</h1>
<p>This is a webpack starter kit with full development & build workflow, more infos in the <a href="https://github.com/topheman/webpack-babel-starter#readme" title="More infos on the README">readme</a>.</p>
<% if (htmlWebpackPlugin.options.DEVTOOLS !== null) { %>
<!-- This part will appear if you set DEVTOOLS=true or DEVTOOLS=false when launching an npm task -->
  <% if (!htmlWebpackPlugin.options.DEVTOOLS) { %>
  <p class="crop">
    This starter kit lets you build a version containing all your sourcemaps, so that your visitors (potentials users/contributors)
    may play directly with your sourcecode in ES6+ (by adding breakpoints ...).
  </p>
  <p><a href="./devtools/" title="Test the version with sourcemaps!">Just click here to see the what's under the hood</a>.</p>
  <% } else { %>
  <p class="crop">This is the <strong>Developer version</strong>, containing sourcemaps. <strong>Open your devtools and read/set breakpoints on the original source code!</strong></p>
  <p><a href="../" title="Back to the production version">Back to the production version</a></p>
  <% } %>
<% } %>
<p>
  <img class="size-full aligncenter logo" src="<%= require('./assets/images/webpack-logo.png') %>" alt="webpack-logo"/>
</p>
<p class="require-ensure">
  Ever heard of <a href="https://webpack.github.io/docs/code-splitting.html" title="Code splitting & require.ensure with webpack">code splitting into chunks</a> that you could <code>require.ensure</code> on demand ?<br><span class="test-require-ensure">Just click here</span> to see an example.
</p>
<footer>
  <p><span id="copyright-year"></span><a href="http://labs.topheman.com/" title="My Projects">labs.topheman.com</a> - Christophe Rosset</p>
  <p>
    <iframe width="78px" height="28px" title="Twitter Tweet Button" style="border:0;overflow:hidden;" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?count=none&amp;dnt=false&amp;lang=en&amp;original_referer=http%3A%2F%2Ftopheman.github.io%2Fwebpack-babel-starter%2F&amp;size=l&amp;text=%23Webpack%20%23Babel%20Starter%20Kit%20with%20full%20development%20%26%20build%20workflow&amp;type=share&amp;url=https%3A%2F%2Fgithub.com%2Ftopheman%2Fwebpack-babel-starter&amp;via=topheman" data-reactid=".0.2.0.6"></iframe>
  </p>
</footer>
<!-- keep the following lines -->
<% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %><script src="<%= Object.prototype.toString.call(webpack.assetsByChunkName['bundle']) === '[object Array]' ? webpack.assetsByChunkName['bundle'][0] : webpack.assetsByChunkName['bundle'] %>"><% } %></script>
<!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41002835-1']);
  _gaq.push(['_setDomainName', 'topheman.github.io']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html><%= htmlWebpackPlugin.options.BANNER_HTML %>
